extends main.pug

block content
   <main class="container">
      <div class="row mt-3">
         <div class="col border rounded p-3">
               <form action="/buy" method="post">
                  <div class="row">
                     <div class="col-5">
                           <label class="form-label">Book:</label>
                     </div>
                     <div class="col-7">
                           <input type="text" disabled="disabled" class="form-control" id="book-name" name="book_name">
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-5">
                           <label for="book-quantity" class="form-label">Quantity:</label>
                     </div>
                     <div class="col-7">
                           <input type="number" name="quantity" id="book-quantity" class="form-control">
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-5">
                           <label for="username" class="form-label">Username:</label>
                     </div>
                     <div class="col-7">
                           <input type="text" class="form-control" id="username" name="username">
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-5">
                           <label for="address" class="form-label">Delivery address:</label>
                     </div>
                     <div class="col-7">
                           <textarea name="address" id="address" class="form-control" rows="5"></textarea>
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-5">
                           <label for="date" class="form-label">Delivery date:</label>
                     </div>
                     <div class="col-7">
                           <input type="date" name="date" id="date" class="form-control">
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-5">
                           <label for="comment" class="form-label">Comment:</label>
                     </div>
                     <div class="col-7">
                           <textarea name="comment" id="comment" rows="5" class="form-control"></textarea>
                     </div>
                  </div>
                  <div class="d-grid mt-3">
                     <input type="submit" value="Buy" class="btn btn-success">
                  </div>
               </form>
         </div>
      </div>
   </main>